nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background-color: #344E41;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 20px;
    right: 0;
    left: 0;
    height: 50px;

    p{
        font-size: 1.2em;
        font-weight: 900;
        background: #DAD7CD;
        padding: 5px;
        border-radius: 10px;
    }

    button {
        margin: 0;
        padding: 0;
        font-size: 1.3em;
        background: transparent;
        color: #DAD7CD;
        border: none;
        cursor: pointer;
    }
}