.Transactions__header {
    display: flex;
    justify-content: start;
    align-items: center;
    p {
        font-weight: 600;
    }
    span{
        width: 200px;
    }
}

.Transactions__total-amount {
    display: flex;
    align-items: center;
    font-size: 2em;
}
.Transactions__total-amount-number {
    font-weight: 900;
}

@media (max-width: 767px) {
    .Transactions__from, 
    .Transactions__type {
        display: none;
    }
}