.Transaction {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    border-bottom: 1px solid black;
    span {
        width: 200px;
    }
    a {
        text-decoration: none;
        color: black;
    }
}

.Transaction__amount {
    display: flex;
    justify-content: end;
}

.Transaction__delete {
    display: flex;
    justify-content: center;
}

@media (max-width: 767px) {
    .Transaction__from, 
    .Transaction__type {
        display: none;
    }
}
