.newTransaction {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 85vh;
    margin: 0;
    padding: 0;

    input {
        padding: 5px;
        width: 200px;
    }
}
.newTransaction__label {
    margin-top: 10px;
    font-size: 1.8em;
    font-weight: 900;
}
.newTransaction__button {
    width: 100%;
    font-size: 2em;
    margin-top: 40px;
    padding: 10px 61px 10px 61px;
    border: none;
    background-color: #344E41;
    cursor: pointer;
    color: #DAD7CD;
    border-radius: 5px;
}
.newTransaction__select {
    width: 50%;
    padding: 6px 0px;
}
.newTransaction__deposit-withdraw {
    display: flex;
    justify-content: center;
}

.newTransaction__deposit,
.newTransaction__withdraw{
    display: flex;
    flex-direction: column;
}

.checkbox {
    width: 25px;
    height: 25px;
}