html {
    height: 100%;
  }
  
  body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 100%;
    overflow: auto;
    margin: 10;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  